@tailwind base;
@tailwind components;
@tailwind utilities;

/* 

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202020;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer utilities {
  .padding-inline {
    @apply px-5 sm:~px-8/20;
  }

  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #fafafa;
    --foreground: #00040f;
    --card: 0 0% 100%;
    --card-foreground: #00040f;
    --popover: 0 0% 100%;
    --popover-foreground: #00040f;
    --primary: #00040f;
    --primary-foreground: #fff;
    --secondary: #fff;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: #666e55;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: #fff;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: #00040f;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: #00040f;
    --foreground: #ffffff;
    --card: #00040f;
    --card-foreground: #fff;
    --popover: #00040f;
    --popover-foreground: #fff;
    --primary: #ffffff;
    --primary-foreground: #00040f;
    --secondary: #00040f;
    --secondary-foreground: #fff;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: #fff;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: #fff;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

/* 

---break--- */

@layer utilities {
  .container {
    @apply mx-auto max-w-7xl;
  }

  .link-cursor {
    cursor: url('/external_link.svg'), default !important;
  }

  .full-page {
    @apply min-h-[80vh] content-center;
  }
}
